<h1>Rooms list</h1>
<div class="messages">
  <%= render @messages  %>
</div>
<form class="message-form">
  <input id="username" placeholder="username">
  <input id="message" placeholder="message">
</form>
